include README.md
include CAULDRON.md
include .env.example

recursive-include cauldron/bin *
recursive-include cauldron/docs *
recursive-include cauldron/examples *
recursive-include cauldron/toolchain/bin *
recursive-include cauldron/templates *
recursive-include cauldron/toolchain *
recursive-include cauldron/rust_tools *
prune cauldron/rust_tools/target

recursive-include docs *
recursive-include examples *
recursive-include scripts *
prune docs/validation
global-exclude __pycache__
global-exclude *.py[cod]
